html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background-color: antiquewhite;
  color: #11100E;
  font-family: sans-serif;
  line-break: auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0;
}

header .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.socials {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6px;
}

.social {
  border-bottom: unset;
  background-image: unset;
  padding: 2px;
}

.social>img {
  border: unset;
  width: 24px;
  height: 24px;

}

.svg {
  /* -webkit-filter: invert(90%) sepia(20%) saturate(404%) hue-rotate(325deg) brightness(105%) contrast(96%); /* safari 6.0 - 9.0 */
          /* filter: invert(90%) sepia(20%) saturate(404%) hue-rotate(325deg) brightness(105%) contrast(96%); */
  min-width: 0.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  letter-spacing: -0.05rem;
  font-weight: 800
}

p,
ul,
ol {
  margin-bottom: 2rem;
}

a {

  cursor: pointer;
  padding: 0.2rem;
  color: inherit;
  border-bottom: 3px solid coral;
  font-weight: bolder;
  letter-spacing: -0.08rem;
  text-decoration: none;

}

a:hover {
  background-color: coral;
  /* color: antiquewhite; */
}

code {

  color: #d6d3cd;
  background-color: #40312E;
  border-radius: 14px;
  border-style:solid;
  border-color: #40312E;
  border-width: 0.1em;
  padding: 0.15rem 0.3rem;
  font-weight: normal;
  font-size: 0.875em;
  font-family: ui-monospace, monospace;
}
pre {
  border-radius: 14px;
}
pre code {
  border-radius: 14px;
  display: block;
  white-space: pre;
  overflow-x: scroll;
  padding: 1em;
  /* disable extra styling to show zola highlight theme */
  background-color: unset;
  color: unset;
  /* border: none; */
}

footer{
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
