<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}

  <title>TGM</title>
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  <link rel="icon" type="image/png" href={{ config.extra.favicon }} />
</head>

<body>
  <header>
    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>
        <div class="socials">
          {% for social in config.extra.socials %}
          <a href="{{ social.url }}" class="social">
              <img class="svg" alt={{ social.name }} src="/icons/{{ social.icon }}.svg">
          </a>
          {% endfor %}
      </div>
    </div>

    <nav>
        {% for menu in config.extra.menu %}
            <a href={{ menu.url }} style="margin-left: 0.7em">{{ menu.name }}</a>
        {% endfor %}
    </nav>
</header>

    <div class="content">
      {% block content %} {% endblock %}
    </div>
<footer>
  <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ get_url(path="/icons/cc.svg") | safe }}"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="{{ get_url(path="/icons/by.svg") | safe }}"></a></p>
  <p>Built with <a href="https://getzola.org">Zola</a></p>
</footer>
</body>
</html>
