{% extends "base.html" %}

{% block content %}

<h1>HEY.</h1>
<strong>Moi c'est Théophile</strong> <br>
<p>Cliquez <a href="{{ get_url(path="@/posts/_index.md") }}">ici</a> pour aller parcourir mon blog. C'est l'endroit où je suis lea plus actif</p>

<h5>APROPOS.</h5>
<p>Je suis un étudiant en art actuellement basé à Bruxelles.</p>
<p>
    Mes centres d'intérêt vont des logiciels et de la culture open source, au cinéma et aux séries télévisées (pas les merdiques cependant), aux livres et bandes dessinées de fantasy et de science-fiction, aux jeux vidéos. 
    <br>
    Honnêtement, quel meilleur moyen de partir en randonnée dans les montagnes, avec un bébé attaché à vous et 120 kg de marchandises sur le dos. 
    <br> Et puis il pleut...
</p>
<p>
    Cet espace sert à la fois de site personnel, de blog pour écrire et penser à voix haute dans l'étendue des <code>0</code> et des <code>1</code>, et de portfolio et espace de publications divers.</p>

<p>Pour me contacter, il y a le fediverse(mastodon), la matrice ou simplement l'email.
    <br>
    Mon code est ouvert la plupart du temps, j'ai en lien en haut ma page codeberg.
    <br>
    et vous pouvez bien-sûr me suivre avec mon flux RSS.
    <br>
    Tous les liens sont dans la barre de navigation en haut.
</p>
{% endblock content %}