{% extends "base.html" %}

{% block content %}
<nav>
    {% for menu in config.extra.menu %}
        <a href={{ menu.url }} style="margin-left: 0.7em">{{ menu.name }}</a>
    {% endfor %}
</nav>
{% endblock content %}
