{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<p><i>
  {{ section.description }}
</i>
</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }} </a><i>~ {{page.date}} </i></li>
  {% endfor %}
</ul>
{% endblock content %}
